<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AzureBatch.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AzureBatch.AzureBatch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=returngisbatch;AccountKey=Z7TyfSKIGTIYTMC7SU4IRWBxMVtg/STqngIHmTvlNLfpK4J2mLnoNDcLaB+JaWlkcZ0iF3Mb1Q9Ayld3L8rJvw=="/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AzureBatch.Settings>
      <setting name="BatchURL" serializeAs="String">
        <value>YOU_ACCOUNT_URL</value>
      </setting>
      <setting name="AccountName" serializeAs="String">
        <value>YOUR_ACCOUNT_NAME</value>
      </setting>
      <setting name="AccountKey" serializeAs="String">
        <value>YOUR_ACCOUNT_KEY</value>
      </setting>
    </AzureBatch.Settings>
    <AzureBatch.AzureBatch>
      <setting name="BatchURL" serializeAs="String">
        <value>https://gisebatch.westeurope.batch.azure.com</value>
      </setting>
    </AzureBatch.AzureBatch>
  </userSettings>
</configuration>